* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: #dbdbdb;
    ;
    color: gray;
}

.box {
    /* border: 2px solid red; */
    border-radius: 30px;
}

.container {
    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 34px;

}

.box {
    box-shadow: 8px 6px 15px grey, -8px -6px 15px white;

    /* box-shadow: -8px -6px 15px white; */
}

#box1 {
    grid-column: 3/5;
    grid-row: 2/10;
    text-align: center;
}

/* #box1 */
h1 {
    margin-top: 100px;
    padding-bottom: 19px;
    color: rgb(13 140 213);
}

input {
    text-align: center;
    padding: 7px;
    border-radius: 17px;
    margin: 7px;
    border: none;
    box-shadow: inset 2px 2px 6px grey, inset -7px -5px 14px white;
}

#link1 {
    margin-left: 140px;
}

.btn {
    /* border: 2px solid red; */
    border-radius: 16px;
    padding: 7px 20px;
    margin-top: 10px;
    box-shadow: inset 2px 2px 6px grey, inset -7px -5px 14px white;
    color: rgb(13 140 213);

}

/* #box1 */
h5 {
    margin-top: 40px;
}

#box2 {
    grid-column: 5/7;
    grid-row: 2/10;
    text-align: center;
}

.link {
    color: rgb(13 140 213);
}